::placeholder {
  font-size: 12px;
  padding-left: 4px;
  color: #c4ccd2;
}

input {
  height: 40px;
  padding: 0px 4px;
}
select{
  height: 40px;
    padding: 0px 4px;
    width: 100%;
}
label {
  font-size: 12px;
  padding-left: 4px;
  color: #c4ccd2;
}

.register {
  font-size: 12px;
  padding-left: 4px;
  color: #c4ccd2;
  text-decoration: underline;
  cursor: pointer;
}
.middle-container{
  height: 100vh;
}
.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-blue-500 {
  scrollbar-color: #3b82f6 #e5e7eb;
  /* Thumb color and track color */
}

.scrollbar-thumb-blue-500:hover {
  scrollbar-color: #2563eb #e5e7eb;
  /* Hover effect */
}

.scrollbar-track-gray-200 {
  scrollbar-track-color: #e5e7eb;
  /* Track color */
}
@media screen and (max-width: 768px) {
  table {
    font-size: 12px;
  }
}



